.section-follow .fa-3x {
  transition: 0.2s;
  margin: 5px 25px;
  color: #000;
}

.fa-facebook:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #3b5998;
}

.fa-twitter:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #1da1f2;
}

.fa-instagram:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #405DE6;
}
