body {
  background: $bege-claro;
  border: 10px solid $bege-medio;
  color: $cinza !important;
  @include d(s) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipo-1(18);
}

.titulo {
  @include tipo-1(18);
  text-transform: uppercase;
  @include d(s) {
    margin-bottom: 40px;
  }
  &::after {
    content: '';
    display: block;
    width: 75%;
    float: right;
    height: 2px;
    margin-top: 14px;
    background: $cinza;
    @include d(m) {
      width: 60%;
    }
  }
}
