.interna_sobre {
  background: url("../assets/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 60px;
}

.missao_sobre p {
  margin-bottom: 1em;
  padding-right: 60px;
  @include tipo-1(18);
  @include d(m) {
    padding-right: 0px;
    @include tipo-1(14);
  }
}

.missao_sobre ul li {
  @include tipo-2(18);
  line-height: 30px;
  @include d(m) {
    @include tipo-1(14);
  }
}

.foto-equipe {
  padding-top: 20px;
}
